{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/category.css' %}">
<div class="container mt-5">
    <!-- Отображение категорий -->
    <div class="categories">
        <h2 class="category-heading text-primary mb-4">Categories</h2>
        <div class="row">
            {% for category in categories %}
            <div class="col-md-4 mb-4">
                <a href="{% url 'category_games' category.id %}" class="category-link">
                    <div class="card border-0 shadow-sm">
                        <div class="card-body text-center">
                            <h3 class="card-title text-secondary">{{ category.name }}</h3>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
